version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: wallet-postgres
    environment:
      POSTGRES_USER: wallet
      POSTGRES_PASSWORD: wallet
      POSTGRES_DB: walletdb
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: wallet-redis
    ports:
      - "6379:6379"
